.container1 {
  
    padding: 0;
    margin: 0;


}


    #kotak {
        height: 200px;
        width: 340px;
        margin-left: 10px;
    }

    video {
        display: inline-block;
        height: 166px;
        margin-left: 17px;
    }


    p {
        line-height: 2rem;
        margin-left: 4rem;
        margin-top: 0rem;
        font-weight: 800;
    }